extends layout

block content
  if(!user)
    h1 you forgot to Login
  else
    main
        if(articles && articles.length)
            table
                thead
                    th Id
                    th Users
                tbody
                    each article in articles
                        tr
                            td= article._id
                            td= article.username
    

  block content

  include footer